/venv/
/output/
/.idea/
/.banner/
/.github/
/presset.json
README.md
presset.json
unlocker.log
/UI/icons/1x/
/UI/icons/social/
/UI/icons/stellaris.ico
/UI/recources.qrc
/UI/ui_dialog.ui
/UI/ui_main.ui
/UI/ui_error.ui
