/design/languages/installer_ru.ui
/design/languages/installer_en.ui
/design/resources.qrc
/venv/
/output/
/.idea/
/unused_resources/
/data.json
/.banner/
/.github/
/creamapi_launcher_files/cream_api.ini
/creamapi_steam_files/cream_api.ini
